<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h4><a class="navbar-brand" href="#">Home</a></h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <h4> <a class="nav-link" style="padding-left: 200px;" href="#" onclick="schedules()"> Schedules</a></h4>
      </li>
      <li class="nav-item">
        <h4> <a class="nav-link" href="#" style="padding-left: 200px;" onclick="restrictions()">Restrictions</a></h4>
      </li>
      <li class="nav-item">
        <h4> <a class="nav-link " style="padding-left: 200px;" href="#" onclick="setLimit()">Set Limit</a> </h4>
      </li>
      <li class="nav-item">
        <h4> <a class="nav-link " style="padding-left: 100px;" href="#">Logout</a> </h4>
      </li>
    </ul>
  </div>
</nav>


<div>

  {{!-- home --}}


  <div id="home">
<button class="btn btn-primary" style="margin-left: 80%;" class="btn btn-success btn-block mb-2" data-toggle="modal" data-target="#modal"> Add new  Application</button>
 

 <div id="modal" class="modal fade" data-backdrop="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <div class="modal-title text-md">This will be your modal title</div> <button class="close" data-dismiss="modal">&times;</button>
             </div>
             <div class="modal-body">
                 <div class="p-4 text-center">
<form id="addApp" name="addApp">

<label for="app name">Application name</label> <input type="text" id="appName" name="appName"  class="form-control" placeholder="Application Name">
<label for="package name">Package Name</label><input type="text" name="packageName" id="packageName" class="form-control"value="com.">

                 </div>
             </div>
             <div class="modal-footer"> <button type="button" class="btn btn-light" data-dismiss="modal">Close</button> <button type="submit" class="btn btn-primary">Add this App</button> </div>
         </div>
     </form>
     </div>
 </div>
 
 
 
 
 
 
 
 
  <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Application Name</th>
        <th>Package name</th>
        <th>added on</th>
        <th> <button>delete</button>  </th>
      </tr>
    </thead>
    <tbody>
      {{#each applications}}
      <tr>
        <td>{{this.appName}}</td>
        <td>{{this.packageName}}</td>
        <td>{{this.date}} @ {{this.time}}</td>
        <td> <button class="btn " onclick="deleteApp()">delete</button> </td>
      </tr>
      {{/each}}
    </tbody>

</table>
</div>

    {{!-- home end --}}












    {{!-- schedule start --}}
    <div id="schedules" style="display: none;">

      <h3 style="padding-left: 43%; di">Schedules</h3>

      <div style="padding-left: 5%;"></div>
      <div class="row" style="padding-left: 5%;">
        <div class="card" style="width: 18rem;">

          <div style="background-color:lightblue;">
            <h5>Work time</h5>


          </div>

          <div class="card-body">

            <div class="row">
              <span class="dot" id="monday">
                <p class="text-inside">M</p>
              </span>
              <span class="dot" id="tuesday">
                <p class="text-inside"> T </p>
              </span>
              <span class="dot" id="wednesday">
                <p class="text-inside">W</p>
              </span>
              <span class="dot" id="thursday">
                <p class="text-inside">T</p>
              </span>

              <span class="dot" id="friday">
                <p class="text-inside">F</p>
              </span>
              <span class="dot" id="saturday">
                <p class="text-inside">S</p>
              </span>

              <span class="dot" id="sunday">
                <p class="text-inside">S</p>
              </span>
            </div>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>






    </div>
    {{!-- schedule end --}}


    <!------restrictions start ---------->

    <div id="restrictions" style="display:none">

      <div class="container">
        <div class="row">
          <div class="col-xs-12 ">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                  aria-controls="nav-home" aria-selected="true">Home</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                  aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                  aria-controls="nav-contact" aria-selected="false">Contact</a>
                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                  aria-controls="nav-about" aria-selected="false">About</a>
              </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                x labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam
                incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing
                aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis
                do
                nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit
                sit
                culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad
                duis
                occaecat ex.
              </div>




              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                aaaaaaaaaaaaaaa
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                aaaaaaaaaaaateur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam
                incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing
                aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis
                do
                nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit
                sit
                culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad
                duis
                occaecat ex.
              </div>



              <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat
                veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit
                non
                irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
                occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                occaecat anim ullamco ad duis occaecat ex.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>


</div>

{{!-- end of restrictions tab --}}







<script>

  function schedules() {
    
       $('#home').hide()
    $('#restrictions').hide()
    $('#schedules').show()
  }

  function restrictions() {
    $('#schedules').hide()
    $('#restrictions').show()


  }
function addNewApplication(){

  alert('')
}

  //datatable

  $(document).ready(function () {
    $('#example').DataTable();
  });





  $("#addApp").validate({
            rules: {
				appName:{
                      required:true,
					  minlength:3
				},
                packageName:{

                    required:true,
                    minlength:3
                }
			},


        submitHandler: function (my_form) {



let appName=$('#appName').val()
let packageName=$('#packageName').val()

$.ajax({

    url:'/addApplication',
    method:'post',
    data:{
        appName,
        packageName
    },
    success:(response)=>{

if(response.status==true)
{
     alert('Application inserted')
    window.location.reload();
}
else
{
  alert('An application with the same name already exists')
}
    }


})


        }
  })




</script>




</div>





















</div>
<style>
  .text-inside {

    margin-left: 25%;

  }

.container {
    margin-top: 100px
}
  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4%;
  }

  body {
    padding: 10px;

  }

  #exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }

  #exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }

  /* remove border radius for the tab */

  #exTab1 .nav-pills>li>a {
    border-radius: 0;
  }

  /* change border radius for the tab , apply corners on top*/

  #exTab3 .nav-pills>li>a {
    border-radius: 4px 4px 0 0;
  }

  #exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
</style>